<%= Atelier::Overview.titre_h1('Parcours fictifs de 3 icarien(ne)s') %>


<h3>Introduction</h3>
<%= Atelier::Overview.quicklinks %>

<div class="container">
  <div class="col col-lg-7 offset-lg-1">

<p>
Comment se déroule le travail au sein d'un atelier d'écriture “en ligne” comme l'atelier Icare&nbsp;?
</p>
<p>
Cela peut sembler obscur pour qui n'a jamais eu l'expérience du travail et de l'apprentissage de l'écriture sur le net. Pour tenter de répondre à cette question, cette page présente les parcours fictifs de trois <em>icariens</em>.
</p>
<p>
Mais avant de commencer, précisons selon la formule consacrée que “<em>toute ressemblance avec des personnes existantes ou ayant pu exister serait purement fortuite.</em>” :-)
</p>

<a name='ludovic'></a>

<%
# LUDOVIC, SUIVI DE PROJET
%>

<h3>Ludovic, suivi de projet (rythme lent)</h3>
<p>
Ludovic a une femme et deux enfants, et travaille à plein temps. Il a depuis longtemps le désir de finaliser une idée d'histoire pour le cinéma, qu'il garde au fond d'un tiroir, mais n'a jamais trouvé ni le temps ni l'énergie de le faire. Jusqu'à découvrir l'atelier Icare sur le net.
</p>
<p>
Après avoir consulté <%= lien.modules('la liste des modules proposés') %>, il a opté, au vu de sa disponibilité, pour un “suivi de projet de rythme lent”.
</p>

<h4>Inscription à l'atelier</h4>
<div class="p">
Après avoir parcouru la <%= link_overview(:home).downcase %>, et préparé ses <%= lien.aide(100, titre: 'documents de présentation') %>, il a <%= lien.signup('déposé sa candidature') %>.
</div>
<p>
En attendant la réponse avec un peu d'inquiétude, il décide de contacter d'autres icariens et icariennes déjà en place pour savoir un peu mieux comment les choses se passent.
</p>
<p>
Quelques jours plus tard, Ludovic reçoit avec joie l'acceptation de sa candidature.</p>
<p>
Il se rend aussitôt dans le bureau virtuel qui lui a été spécialement aménagé au sein de l'atelier, et démarre son module d'apprentissage en cliquant sur un simple bouton.
</p>

<h4>Travail au sein de l'atelier</h4>

<p>
Un premier travail lui est demandé (consistant pour ce module à présenter sommairement le projet qu'il veut développer au sein de l'atelier). Une échéance lui est fixée à la semaine suivante. Huit jours&nbsp;! c'est court&nbsp;!… Heureusement, Ludovic découvre qu'il peut lui-même régler l'échéance de son étape de travail, la rallonger comme bon lui semble s'il est un peu à court de temps (mais gare à lui&nbsp;! Phil reste vigilant pour que la procrastination ne l'emporte jamais sur l'envie&nbsp;!).<a name="#etapes_ludovic"></a>
</p>
<div class='p'>
Tout en travaillant sur sa présentation, Ludovic tire parti, dès qu'il a un peu de temps, de toutes les ressources de l'atelier. À commencer par <%= lien.narration %>, cours d'écriture en ligne de Phil auquel il a un accès complet puisqu'il est icarien. Plus formidable encore, il peut consulter les anciens documents de travail que les autres icariens ont accepté de partager en ligne, lui permettant là encore de tirer une somme décuplée d'enseignements. Cela lui donne également l'occasion de découvrir les projets développés au sein de l'atelier. Il se jette en premier lieu sur les documents des icariens qui sont passés par le même module que lui… Enfin, il peut contacter Phil à tout moment, par mail, pour obtenir un renseignement ou poser une question. Il est rare qu'il n'ait de réponse avant le lendemain.
</div>
<p>
Sa première étape, Ludovic a envie de la peaufiner. Il se rend dans son bureau virtuel pour modifier son échéance, s'accorde trois jours supplémentaires.
</p>
<p>
Une fois le travail achevé, Ludovic le transmet à Phil. Ça se passe très simplement, via son bureau, grâce à un simple bouton à cliquer (Ludovic a vite compris que son bureau virtuel était le centre névralgique d'où toutes les opérations pouvaient être exécutées). Ayant opté pour un suivi de projet à rythme lent, il a un peu de temps pour souffler. Pour un document de taille moyenne, le retour se fait en général dans les trois ou quatre jours.
</p>
<p>
En attendant de recevoir —&nbsp;avec un peu d'angoisse&nbsp;— ses premiers commentaires, Ludovic en profite pour tester les nombreux outils qui sont proposés au sein de l'atelier.
</p>
<p>
Trois jours plus tard, Ludovic reçoit son document scrupuleusement commenté par Phil. Il le lit avec un peu d'inquiétude. Mais ça va, ça n'est pas si méchant et, surtout, Phil dégage les grandes lignes de développement sur lesquelles Ludovic devra travailler au cours de son module, dessinant le parcours qui sera accompli pour parvenir au bout de l'objet rêvé.
</p>
<p>
Phil fait passer Ludovic à l'étape de travail suivante. Elle consiste à affiner la présentation de son projet en s'appuyant sur les commentaires éclairés qui lui ont été faits.
</p>
<p>
Au bout de quelques semaines, Ludovic a compris le principe&nbsp;: il progresse d'étape en étape, en répondant aux questions essentielles qui lui sont posées, en tenant compte des remarques qui lui sont faites, ce qui lui ouvre des portes parfois inattendues sur le développement de son histoire.
</p>
<p>
Chaque étape définit un objectif de travail précis sur son projet, dans une échéance donnée (heureusement, cette échéance, il peut l'allonger lui-même lorsque le temps lui manque un peu —&nbsp;la famille et le boulot, ça occupe&nbsp;!). L'objectif de travail de l'étape s'incarne toujours dans un document précis. Ça n'est pas toujours facile de comprendre son énoncé, mais une “mini-faq”, alimentée par les questions des icariens ayant suivi le chemin avant lui, permet d'éclairer les choses. Et puis Ludovic peut apporter sa contribution en soumettant ses propres questions.
</p>
<p>
En bref, Ludovic sait donc toujours ce qu'il doit faire, et il sent son projet avancer semaine après semaine. Il peut même, s'il le désire, faire un point de temps en temps sur son projet, avec Phil, au téléphone.
</p>
<p>
Il apprend, par le biais de ce module, à rédiger toute sorte de documents&nbsp;: résumé, synopsis, traitement, chemin de fer et, bien entendu, le scénario. Mais il n'en est pas encore là&nbsp;!
</p>
<p>
S'il découvre qu'il n'existe pas de méthode clé-en-main mais que chaque auteur doit développer la sienne (c'est le cheval de bataille de Phil), Ludovic découvre également qu'une myriade d'outils lui permettent d'éclairer le long chemin parfois obscur qui conduit à l'accomplissement de son projet.
</p>
<p>
Puisqu'il est en “suivi de projet”, Ludovic doit s'acquitter chaque mois de sa mensualité, ce qui se fait très simplement encore une fois depuis son bureau, grâce à un module sécurisé par Paypal.
</p>

<h4>Fin du module</h4>

<p>
Un an plus tard (le temps passe tellement vite&nbsp;!), Ludovic achève la version 2 de son scénario. Elle n'est pas parfaite, il y a encore beaucoup à faire, mais il sait qu'il est sur la bonne voie, et il a compris énormément de choses. Et quoi qu'il en soit, il est fier de son parcours, des efforts parfois considérables qu'il a accomplis, et fier de ce qu'il a réalisé&nbsp;: son histoire, qui n'était jusqu'alors qu'un rêve, existe, il la tient entre ses mains, il peut même rassembler sa petite famille, un dimanche après-midi, pour leur lire et recevoir leur avis. Grand moment d'émotion. Il décide de faire un break pendant l'hiver, mais attend déjà avec impatience le printemps pour revenir, peut-être avec un autre projet&nbsp;!
</p>

<a name='cloe'></a>

<%
# CLOÉ, MODULE STRUCTURE
%>

<h3>Marion, module structure</h3>

<div class='p'>
Marion, étudiante, a décidé de suivre un module à durée déterminée. Ça lui permettra de voir ce qu'elle peut apprendre à l'atelier, et savoir si ce mode d'enseignement lui convient (parce que pour tout dire, elle n'est pas vraiment convaincue par ce mode d'enseignement à distance, virtuel, mais les <%= link_overview(:reussites).downcase %> au sein de l'atelier l'ont un peu rassurée quand même).
</div>

<div class='p'>
Elle procède donc à son <%= lien.signup('dépôt de candidature') %> et réserve le module “Structure”. Quelques jours plus tard, sa candidature est acceptée et elle devient icarienne à l'essai.
</div>

<h4>Travail au sein de l'atelier</h4>
<p>
Tout comme <a href="overview/parcours#ludovic">Ludovic</a> et <a href="overview/parcours#sarah">Sarah</a> avec lesquels elle échange beaucoup, Marion s'initie au développement de la structure.
</p>
<p>
À vrai dire, même si cela lui avait toujours paru ardu, elle ne mesurait pas à quel point ce sujet était complexe. Heureusement, étape après étape, elle comprend de mieux en mieux à quoi tient cette complexité,  et s'initie à des approches qui lui permettent d'appréhender les choses de façon plus sereine, rationnelle et surtout plus consciente. Tout en apprenant à écouter son intuition, comme y tient beaucoup Phil.
</p>
<p>
La structure, pour elle, n'est bientôt plus cette chose abstraite, impalpable et douloureuse, qui lui semblait auparavant si terrible. Elle sait maintenant la regarder en face, jouer avec elle, ne plus en être l'esclave mais la maitresse (une petite maitresse pour le moment, c'est vrai…).
</p>

<h4>Les étapes de travail</h4>

<p>
Marion découvre le travail au sein de l'atelier, confortable&nbsp;: une étape de travail spécialement adaptée à sa progression et son niveau lui est proposée. Cette étape définit un travail précis et un document à rédiger (dont la forme et le contenu sont stipulés dans l'intitulé de l'étape). Marion fait ce travail dans le temps imparti, s'accorde une petite rallonge si nécessaire (en règle très générale, les étapes ont une échéance approximative d'une semaine).
</p>
<p>
Puis Marion envoie le document à Phil, qui le lit et le commente avec soin et attention. Phil renvoie ensuite le document commenté. Ils peuvent en parler un peu par mail, puis Phil fait passer Marion à l'étape de travail suivante, à la lueur du travail accompli.
</p>
<p>
Lorsque Marion s'étonne de passer parfois de l'étape 20 à l'étape 46, Phil lui explique que chaque module possède 9999 étapes (!), mais qu'aucun icarien ne les suit toutes. Leur nombre imposant est simplement là pour offrir à Marion un parcours progressif parfaitement adapté à sa propre progression et ses propres besoins.
</p>
<p>
Des exercices divers et variés permettent à Marion de se familiariser avec ce travail qui, sur de nombreux points, lui rappellent les exercices de jonglerie qu'elle exécutait, enfant, dans son école de cirque. ;-) Bientôt, les termes “clé de voûte”, “crescendo de conflit”, “progression émotionnelle”, “incident déclencheur” n'ont plus de secret pour elle. Soit, elle n'en maitrise pas encore tous les ressorts, mais elle commence à toucher du doigt, de façon concrète et prégnante, les éléments dramaturgiques sur lesquels elle peut s'appuyer pour parvenir à développer de façon harmonieuse une structure unique et propre, loin de tout cadre préétabli, loin de toute recette clé-en-main.
</p>
<p>
Car elle apprend une chose essentielle&nbsp;: l'écriture est un perpétuel apprentissage, et chaque projet, chaque histoire, arrive avec son lot de plaisir et de difficultés propres.
</p>

<h4>Fin du module</h4>

<p>
Au bout de 3 mois et 12 jours, Marion achève son module structure. Bien sûr, elle sait que tout n'est pas acquis, loin s'en faut, et qu'elle ne maitrise pas encore pleinement son sujet. Mais l'expérience de ces derniers mois lui a ouvert des portes insoupçonnées qui vont lui permettre de murir profitablement son approche de la structure d'une histoire. Comme lui a expliqué Phil&nbsp;: “La fin du module, ça n'est que le début de l'aventure&nbsp;!”.
</p>
<p>
Mais aujourd'hui, pleinement rassurée par l'efficacité d'un tel apprentissage à distance, elle décide de suivre sans plus attendre un autre module&nbsp;: le module “Personnages”&nbsp;! Ou non… peut-être bien qu'elle va plutôt choisir le module “Thématique”… Et si elle en parlait à Phil pour savoir ce qu'il en pense&nbsp;?…

<a name='sarah'></a>

<%
# SARAH, MODULE ANALYSE DE FILM
%>

<h3>Sarah, module analyse de film</h3>
<p>
Sarah n'écrit pas. Mais depuis longtemps elle avait l'envie de mieux comprendre le cinéma, de mieux comprendre les films. Elle sait qu'une histoire, plus encore une histoire destinée au grand écran, ne s'écrit pas au hasard. Elle a envie, aujourd'hui, pour renforcer encore son amour pour le <em>cinématographe</em>, d'en savoir plus.
</p>
<p>
Elle s'inscrit donc à l'atelier Icare (le seul atelier à ce jour proposant un module d'analyse de film) via le <%= lien.signup('formulaire de candidature') %> en mettant une option sur le module “Analyse de film”.
</p>

<h4>Travail au sein de l'atelier</h4>

<p>
Une fois devenue “icarienne à l'essai” — pour un temps permettant à Sarah et à Phil de savoir si leur collaboration peut être profitable&nbsp;—, Sarah accède à sa première étape de travail. Pour le module d'analyse, cette étape consiste à établir une liste des films qu'elle aimerait étudier plus en profondeur. Comme elle n'a pas d'idée précise, elle propose un film et s'en remet pour les autres à une liste suggérée par Phil.
</p>
<p>
Sarah doit également, au cours de ce premier travail, définir ce que représente l'analyse filmique pour elle. Pas facile… Mais grâce aux questions ouvertes proposées par Phil, elle se rend compte que, finalement, elle faisait déjà de la <em>vraie</em> analyse filmique sans le savoir.
</p>
<p>
Le travail sérieux commence lorsque le premier film est choisi. Débute alors la succession progressive d'étapes au cours desquelles Sarah se familiarise avec la “secrète mécanique” qui régit la narration de toute œuvre cinématographique. Grâce à une étude systématique et éclairée, qui n'est pas sans lui rappeler l'archéologie, Sarah mesure de mieux en mieux à quel point elle est capable, sans beaucoup d'effort mais avec beaucoup de soin, de s'approcher au plus près du cœur d'une œuvre qu'elle admirait déjà. Son amour grandit, et chaque étape de travail lui laisse découvrir des secrets invisibles au départ, et surtout insoupçonnés.
</p>
<p>
Mais Phil n'est pas facile… Même s'il le fait toujours avec respect et bienveillance, il traque sans complaisance les approximations, le manque de clarté, les élucubrations futiles. L'art de l'analyse, selon lui, est un apprentissage de l'amour de l'art, un amour porté à <em>la chose</em> elle-même, dans son existence propre et entière, pas au fantasme que chacun peut s'en faire (Sarah garde pour elle que ce fantasme, selon elle, fait tout autant partie de l'amour qu'on peut porter à un film, et elle accepte de jouer le jeu en attendant d'être mieux armée pour en faire part). C'est un chemin initiatique vers l'œuvre, dans ce qu'elle possède d'unique et de grand, mais également dans tout ce qu'elle a d'universel, qui peut éclairer sur toutes les œuvres qui l'environnent.
</p>
<p>
Au bout du temps d'essai, Phil et Sarah convenant que leur collaboration se déroule bien, Sarah doit s'acquitter du montant du module. Puisqu'elle suit un module appelé “à durée déterminée”, contrairement aux modules “accompagnement de projet”, Sarah n'aura à le payer qu'une fois pour toutes, quel que soit le temps qu'elle passera ensuite sur ce module (les deux mois prévus initialement s'effectuent généralement en 6 mois, voire un an).
</p>
<p>
Et heureusement, car pour accomplir chaque étape du mieux qu'elle peut, Sarah prend son temps, et six mois plus tard, elle est encore <em>icarienne active</em>.
</p>
<p>
Sarah n'imaginait pas à quel point les (grands) films pouvaient être singuliers et partager en même temps tant de points communs. Car, en cachette, elle regarde d'autres films pour mettre à l'épreuve la pertinence des grandes généralités que lui transmet “Maitre Phil”.
</p>

<h4>Fin du module</h4>

<p>
Au bout de 8 mois et 13 jours, Sarah achève son module analyse. Ouf&nbsp;! Elle est loin d'avoir tout assimilé, mais elle sait qu'elle possède maintenant des outils qui vont lui permettre de mieux appréhender, à l'avenir, tous les films qu'elle aime. Sans pour autant perdre cette approche intuitive et émotionnelle à laquelle Phil tient tant.
</p>
<p>
Sarah fait ses adieux à l'atelier et aux icariens avec lesquels elle est entrée en contact, mais assure qu'elle ne sera jamais très loin. Car lorsqu'on a été icarien ou icarienne, on le reste “à vie”. Il suffit en effet de régler ses préférences, dans son bureau, pour rester en contact direct avec l'atelier et conserver son bureau de travail. On ne sait jamais, peut-être l'envie lui prendra-t-elle d'aborder l'analyse d'autres films avec Phil et même, pourquoi pas, de se risquer un jour, elle aussi, à produire une histoire, et suivre un module d'écriture&nbsp;!
</p>

</div></div><!-- col/container -->
<%= Atelier::Overview.quicklinks_bottom %>
