<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Pour Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="view/img/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="view/img/favicon.ico?" type="image/x-icon">
    <base href="<%= site.base %>" />
    <link rel="stylesheet" href="view/gabarit/header.css">
    <%= self.css %>
    <%= self.raw_css %>
    <!-- Page -->
    <title><%= page.title %></title>
  </head>
  <body>
    <!-- Entête permanent du site, sans modification -->
    <div id="header" class="container-fluid">
      <%= './view/gabarit/top_row.erb'.deserb(self.bind) %>
    </div>

    <!-- Tant que l'utilisateur n'est pas identifié, on lui présente
    le bouton d'enregistrement
    -->
    <% unless user.identified? || site.route?('user/signin') || site.route?('user/signup') %>
      <div class="container-fluid right mt-2 mb-2">
        <div class="col center-mobile">
          <%= 'poser&nbsp;sa&nbsp;candidature'.in_a(href: 'user/signup', id: 'btn_signup', class: 'btn main') %>
        </div>
      </div>
    <% end %>

    <!-- Les message éventuels -->
    <div class="container">
      <%= app.div_flash %>
    </div>

    <div id="page-contents" class="container-fluid">
        <!--
            CONTENU DE LA PAGE
        -->
      <div class="row"><%= body %></div>

      <!-- Le débug, seulement en offline -->
      <%= page.section_debug %>

    </div>
    <!-- Pour le site -->
    <%= self.raw_javascript %>
    <!-- Pour Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
