<%
# Définition de l'entête du site
%>
<section id="header">
    <span id="site_title"><a href=""><%= site.logo_title %></a><%= OFFLINE ? ' OFF'.in_span(class:'tiny') : '' %></span>
    <%= SiteHtml::Header.sign_buttons %>
</section>
<%
# Insertion de la pastille indiquant les tâches à exécuter
# si c'est un administrateur et que les options le réclament.
# La valeur `display_taches_for_administrator` est défini
    # dans le fichier config  : ./objet/site/config.rb
    if site.display_taches_for_administrator && user.admin? %>
    <%=
    site.require_objet 'admin'
    ::Admin.require_module 'taches'
    ::Admin::Taches.pastille_taches_administrator
    %>
<% end %>

<%
# Si c'est un administrateur qui visite, il faut insérer au besoin
# le widget pour les tâches (pour ajouter une tâche concernant la
# page).
if page.widget_taches?
    site.require_module('Tache')
%>
    <%= ::Admin::Taches.widget %>
<% end %>
