<%# Formulaire pour s'inscrire au site %>
<%
required_mark = ' <span class="red"><sup>*</sup></span>'
site.require 'form_tools'
form.prefix = 'user'
%>
<p class='small center-mobile'>
  Notez que pour poser votre candidature au sein de l'atelier, vous devez avoir rédigé vos deux documents de présentation. <strong>Ces deux documents vous seront demandés en fin de procédure</strong>. Pour savoir comment rédiger ces documents de présentation, consultez <%=  lien.aide 100, titre: 'l’aide pour les documents d’inscription.', discret: false %>
</p>

<form id="form_user_signup" onsubmit="return $.proxy(Signup,'check_cgu')()" action="<%= site.current_route.route %>" method="POST">

  <div style="vertical-align:bottom;">Les champs marqués d'un <%= required_mark %> sont obligatoires.</div>
  <%= 'save_identite'.in_hidden(name: 'signup[operation]', id: 'signup_operation') %>
  <%= 'identite'.in_hidden(name: 'signup[state]', id: 'signup_state')%>

  <h3>Identité</h3>
  <%= form.field_text("Pseudo#{required_mark}", 'pseudo', nil) %>
  <%= form.field_text("Patronyme", 'patronyme', nil) %>
  <%= form.field_select("Vous êtes…#{required_mark}", 'sexe', nil, {values: [["F", "une femme"], ["H", "un homme"]]}) %>
  <% valeurs_annees = (1920..(Time.now.year - 18)).collect{|y| [y, y]}.reverse %>
  <%= form.field_select("Naissance#{required_mark}", 'naissance', nil, {values: valeurs_annees}) %>

  <h3>Contact et accès au site</h3>
  <%= form.field_text("Mail#{required_mark}", 'mail', nil) %>
  <%= form.field_text("Confirmation mail#{required_mark}", 'mail_confirmation', nil) %>
  <%= form.field_text("Mot de passe#{required_mark}", 'password', nil) %>
  <%= form.field_text("Conf. mot de passe#{required_mark}", 'password_confirmation', nil) %>

  <h3>Coordonnées</h3>
  <% name = "Téléphone#{site.signup_phone_required ? required_mark : ''}" %>
  <%= form.field_text(name, 'telephone', nil) %>
  <% name = "Adresse#{site.signup_address_required ? required_mark : ''}" %>
  <%= form.field_textarea(name, 'adresse') %>
  <%
  texte_cgu = "<span>J’accepte les <a href=\"http://www.atelier-icare.net/CGU_Atelier_ICARE.pdf\" target=\"_blank\">Conditions générales d’utilisation</a><br>de l’Atelier Icare.</span>"
  %>
  <div class="row">
    <span id="span-cb-cgu">
      <input type="checkbox" id="user_accept_cgu" name="user[accept_cgu]" value="">
      <label for="user_accept_cgu" class="left">
        <%= texte_cgu %>
      </label>
    </span>
  </div>
  <%= app.hidden_field_captcha_value %>
  <%= form.field_text("Antirobot#{required_mark}", 'captcha', nil, {class:'short', text_before: "#{site.captcha_question.in_span(id:'captcha_question')} : ".in_span(class:'small')}) %>

  <%=
    form_submit_button = 'Enregistrer et poursuivre l’inscription'
    form_submit_button.in_submit(class: 'btn btn-primary').in_div(class:'row buttons big air') %>
</form>
