<%
# Aperçu de l'atelier
%>
<%= Atelier::Overview.titre_h1('') %>

<h3>L’atelier Icare</h3>
<%= Atelier::Overview.quicklinks %>
<div class="container">
  <div class="col col-lg-7 offset-lg-1">

<p>
L'atelier Icare est un atelier d'écriture en ligne où s’expriment toutes formes d'écriture, du film au roman en passant par le théâtre ou la BD, pour tous types d’auteurs, du débutant à l’auteur expérimenté.
</p>

<h3>Ce que l’atelier Icare a d’unique</h3>

<h4>L'atelier Icare est unique parce qu'il est animé par <em>un vrai auteur</em></h4>
<p>L'atelier Icare n’est pas animé par des journalistes comme c’est le cas de nombreux sites prétendant apprendre l’écriture. Si l’écriture journalistique est bien une forme d’écriture qui peut permettre d’approcher son projet — et seulement l’approcher —, en aucun cas elle ne permet de le développer harmonieusement de façon artistique, captivante et originale. Écrire un article de journal, ça ne sera jamais écrire un scénario, ça ne sera jamais écrire un roman.</p>
<p>L’atelier n’est pas animé non plus par des anciens élèves d’écoles de cinéma dont la seule expérience professionnelle (sic) est d’avoir publié à leurs frais des livres sur Kindle…</p>
<p>L’atelier Icare est animé par un véritable auteur ayant publié des ouvrages à compte d’éditeur, ayant écrit des scénarios de films de cinéma et de TV réalisés, ayant vendu de nombreux projets de fiction et des bibles de série.</p>

<h4>L’atelier Icare est unique parce qu'il est animé par <em>un vrai pédagogue</em></h4>

<p>Contrairement à beaucoup d’autres personnes se prétendant pédagogues, Phil (Philippe Perret) n’a pas attendu l’explosion de l’Internet et le développement des formations en ligne pour se lancer dans l’aventure de l’« e-learning » ni pour offrir de nombreuses ressources aux auteurs (voir par exemple sa <a href="http://www.laboiteaoutilsdelauteur.fr" target="_new">boite à outils de l’auteur</a>).</p>
<p>La pédagogie, pour Phil, n’est pas une source de <em>revenu facile</em> comme le considèrent, soyons honnête, de nombreuses structures. Ce n’est jamais l’aspect lucratif qui guide ses choix mais toujours la passion pour la transmission du savoir et la passion pour l’accompagnement de l’auteur dans l’aventure émotionnelle qu’est le développement d’une histoire.</p>
<p>Phil se dévoue avec enthousiasme à l’apprentissage de la narration, et plus loin à la réalisation artistique et professionnelle des auteurs qu’il accompagne, ainsi que leurs projets.</p>

<h4>L'atelier Icare est unique parce que l’auteur y reçoit <em>de vrais commentaires</em></h4>
<p>Connaissant les commentaires émis par d’autres ateliers — par le biais d’icariens passés par ces structures —, nous pouvons affirmer sans le moindre doute que l’on ne trouve nulle part ailleurs de commentaires aussi approfondis, aussi sérieux, aussi précis et aussi constructifs que ceux dispensés au sein de l’atelier Icare.</p>
<p>Phil part du principe qu’il n’est aucune autre véritable façon de progresser que par la précision chirurgicale des commentaires que l’on reçoit sur ses textes — des commentaires exigeants mais néanmoins constructifs et toujours bienveillants.</p>
<p>Phil est convaincu que l’approximation, la nonchalance et la flatterie d’usage dans les autres structures ne permettent pas de donner à l’auteur les moyens et les ressources de développer son talent, de progresser avec courage dans son écriture et de réussir son œuvre.</p>
<!--
<p>Pour s’en faire une idée, on pourra consulter par exemple le retour fait, en module coaching intensif, sur le roman pour la jeunesse d’une icarienne qui a bien voulu partager son travail. Ces commentaires sont similaires à tout commentaire qu’on peut recevoir à l’atelier sur son travail.</p>
-->
<p>Pour s’en faire une idée, on pourra consulter les exemples donnés sur la page <%= link_overview(:parcours) %></p>

<h4>L'atelier Icare est unique parce qu’il vise la réussite des icariennes et des icariens</h4>
<p>Contrairement à d’autres structures qui, en réalité, ne se soucient en rien de l’avenir de leurs stagiaires et de leurs projets, Phil, à l’atelier Icare, met un point d’honneur à conduire l’auteur le plus loin possible dans la réalisation concrète de son projet, qu'il soit scénario, roman, BD ou toute autre forme de narration.</p>
<p>On pourra s’en convaincre en consultant la liste des projets réalisés, vendus ou publiés et la liste des apprentis-auteurs devenus professionnels sur la page des <%= link_overview(:reussites) %>.</p>

<h4>L’atelier Icare est unique parce qu’il stimule <em>le vrai partage</em></h4>
<p>Un des aspects unique de l’atelier — unique dans le sens où l'on ne le trouve nulle part ailleurs, dans aucune autre formation en ligne ou en réel — est <strong>le partage des documents produits en son sein</strong>.</p>
<p>Concrètement, lorsqu’un auteur suit un module à l’atelier Icare, à chaque étape de ce module, il peut consulter tous les documents produits par d’autres icariennes et icariens passés avant lui par ce module — documents commentés par Phil.</p>
<p>C’est — aux dires mêmes des icariennes et icariens — une ressource d’une infinie richesse qui permet, d’emblée, de ne pas reproduire les mêmes erreurs — celles que tout apprenti-auteur commet —, d’apprendre dix fois plus vite et plus profondément en s’appuyant sur les erreurs des autres et les commentaires éclairants qu’ils ont pu recevoir de Phil.</p>

<h3>À qui s'adresse Icare ?</h3>
<p>
  L’atelier s’adresse à tout auteur, qu’il soit parfait débutant ou qu’il ait déjà une sérieuse expérience de l’écriture.
</p>
<p>Dans le détail, il s’adresse :</p>
  <ul>
<li>à tout auteur voulant être accompagné dans le développement d’un projet personnel, de façon professionnelle et bienveillante ;</li>
<li>à tout apprenti-auteur voulant apprendre les rudiments de la narration — l’art de raconter une histoire — par la pratique concrète (apprentissage d’un <em>savoir-faire</em>) ;</li>
<li>à tout auteur voulant approfondir ses connaissances dramaturgiques de façon sérieuse, par la pratique ;</li>
<li>à tout auteur voulant être accompagné sur un objectif ponctuel (concours d’entrée, finalisation d’un scénario ou d’un roman, etc.) — par le biais de modules tels que le module Coaching intensif.</li>
</ul>


<h3>Ce que privilégie l’atelier Icare</h3>

<p><strong>L’atelier Icare privilégie l’auteur</strong>. Fruit d’une expérience de plus de 20 ans en mode réel ou en ligne, la pédagogie de l’atelier privilégie avant tout l’auteur, dans ce qu’il a de propre, d’original et de singulier. Il ne le contraint pas à adopter une méthode unique, mais lui permet de développer sa propre méthode, unique.</p>

<div class="p"><strong>L’atelier Icare privilégie le <em>savoir-faire</em></strong>. On n’y apprend pas seulement ce qu’est l’écriture (le <em>savoir</em>), on y apprend surtout <em>à écrire</em> (le <em>savoir-faire</em>) — vous pouvez lire à ce propos les <%= link_overview(:raisons) %>.</div>


<p><strong>L’atelier Icare privilégie le contact</strong>. Le contact direct que permet paradoxalement l’enseignement “on-line” est un plus inestimable pour le pédagogue et l'auteur. Dans ce sens, Phil met un point d'honneur à répondre toujours avec la plus grande réactivité possible, afin d'établir avec l'auteur un lien de proximité qui pallie largement l'absence de contact physique.
</p>

<p><strong>L’atelier Icare privilégie l’apprentissage “ciblé”</strong>. Par son aspect <em>modulaire</em>, l’atelier permet de se concentrer sur ses faiblesses ou sur les compétences que l’on a envie de développer.</p>
</div><!-- div.col -->
</div><!-- div.container -->

<%= Atelier::Overview.quicklinks_bottom %>
