<%= Atelier::Overview.titre_h1('10 bonnes raisons de choisir l’atelier') %>

<%= Atelier::Overview.quicklinks %>

<div class="container"><div class="col col-lg-7 offset-lg-1">


<% i = 0 %>

<h3><%= i += 1 %>. L'apprentissage d'un <em>savoir-faire</em></h3>

<p>Combien de fois phil, pédagogue de l'atelier Icare, entend-il ce constat dans la bouche d'apprentis-auteurs qui rejoignent l'atelier :</p>

<p class="italic">
“En terminant tel livre ou tel stage, j'avais l'impression de tout connaitre, mais quand je me suis retrouvé devant mon ordinateur, j'ai réalisé que je ne savais rien du tout et que je n'avais aucune idée de comment m'y prendre pour écrire mon histoire…”
</p>
<p>
Phil entend ce constat trop souvent. Sans s'appesantir sur la pertinence des pédagogies engagées, sans s'interroger sur les réelles motivations des pédagogues à voir réussir leurs stagiaires, ce constat malheureux trouve une explication toute simple dans le fait que nombre de formations ou de livres partent du principe que <em>le savoir</em> est la voie qui conduit au <em>savoir-faire</em>.</p>
<p>
Pour Phil, rien de plus fallacieux dans cette croyance. Il est même convaincu qu'on peut créer sans rien savoir du tout et qu'il est préférable de faire bien en ne sachant rien, plutôt que de tout connaitre sans rien pouvoir produire de bon.
</p>
<p>
Phil pense même —&nbsp;et l'a constaté chez de nombreux auteurs&nbsp;— que la connaissance <em>sans conscience</em> est une illusion qui peut nuire gravement au développement harmonieux d'un projet. C'est d'ailleurs de cette conviction qu'est inspiré <a href="overview/nom_atelier">le nom de l'atelier</a>.
</p>
<p>
Aussi, à l'atelier Icare, êtes-vous dès les toutes premières étapes de travail placé en état de création, en train d'écrire —&nbsp;mais sans angoisse, car vous êtes accompagné&nbsp;! Au sein d'Icare, votre imagination est en permanence sollicitée,   pour inventer des histoires, des personnages, des intrigues, et cela presque sans vous en rendre compte.
</p>
<p>
Phil, pour qui l'écriture reste avant tout <em>un artisanat</em>, s'attache à <b>développer votre savoir-faire</b>, avec la conviction profonde que c'est par <em>la pratique concrète et vivante</em> que se forge le plus beau et le plus utile des savoirs.
</p>

<h3><%= i += 1 %>. L'apprentissage d'un savoir (quand même)</h3>
<div class='encart left italic center'>
L'Atelier Icare, ça n'est pas seulement un atelier. C'est un état d'esprit, c'est une vocation, c'est une communauté, un lieu d'apprentissage et de partage.
</div>

<div class="p">
Le savoir en tant que tel n'est pourtant pas négligé au sein d'Icare. Il est même en “libre accès”, notamment par le biais du livre en ligne de Phil : <%= lien.narration %> (en accès libre lorsque l'on est icarienne ou icarien).
</div>

<p>
Il est également dispensé dans les retours que Phil donne à vos travaux. Mais, dans ce cas, ce savoir est toujours mis au service du savoir-faire.
</p>
<p>
Et puis, rassurez-vous, Phil, en coulisses, veille à ce que vos connaissances, au sortir de votre séjour à l'atelier, soient les plus complètes possibles concernant la matière que vous avez décidé d'aborder.
</p>
<p>
Précisons enfin que Phil ne croit pas aux règles, encore moins aux recettes, et c'est la raison pour laquelle le savoir n'est jamais mis en avant. Il croit en revanche en certaines “lois” naturelles de la narration, sans cesse interrogées dans les travaux. Il croit également que c'est le projet, et seulement le projet, qui dicte lui-même ses propres règles. Il apprend à l'auteur à savoir les écouter et les entendre.
</p>


<h3><%= i += 1 %>. Une source unique de connaissances</h3>

<p>
Ce savoir se trouve également dispensé dans une section de l'atelier unique en son genre, qu'à ce jour vous ne trouverez dans aucune autre école, dans aucun autre atelier même en mode réel&nbsp;: ce savoir (et ce savoir-faire) peut s'acquérir et s'enrichir par <b>la consultation des centaines de documents développés au sein de l'atelier</b>, copieusement commentés et annotés par Phil.
</p>
<p>
Le <i>Quai des docs</i> — c'est le nom de cette section — est une source inestimable de connaissances et de progrès, sur la base d'exemples concrets : les propres travaux et exercices des icariens et des icariennes au sein de l'atelier.
À l'heure où sont écrites ces lignes, cette section rassemble <strong>plus de 1000 documents</strong>. Comme le dit très justement Michel, un ancien icarien devenu scénariste professionnel&nbsp;:</p>
<p style="text-align:right;">
<em>“Le Quai des docs, c'est le savoir à la puissance 10 !”</em>
</p>

<h3><%= i += 1 %>. Un apprentissage à votre rythme</h3>

<p>
Quel que soit le module que vous choisissez, vous pouvez le suivre à votre rythme. Si vous devez mettre huit mois pour un module estimé à deux mois, peu importe : vous pouvez rester à l'atelier pendant ces huit mois (sans rien changer à votre investissement financier, il est bon de le préciser).
</p>
<p>
L'important pour Phil est que vous alliez au bout du voyage. Mais comptez sur lui pour vous rappeler à l'ordre lorsque, peut-être, vous trainez trop sur une étape ! (Phil ne perd jamais de vue que l'immobilisme est le spectre mortel de l'auteur.)
</p>

<h3><%= i += 1 %>. Un pédagogue attentif</h3>

<div class="p">
À l'atelier Icare, vous êtes pris en main par un guide, plus qu'un professeur, passionné de pédagogie et d'épanouissement personnel, animé par un souci de pragmatisme, qui développe des concepts originaux qu'on peut découvrir notamment dans <%= lien.narration %>.
</div>

<p>
Autodidacte, Phil n'en a pas moins étudié la dramaturgie en profondeur, et se sent l'héritier de nombreuses cultures narratives, qu'elles émanent des livres, de Syd Field à Campbell en passant par Kundera, McKee, Souriau ou Genette, ou qu'elles émanent des œuvres elles-mêmes (les œuvres restant à ses yeux la source première de la connaissance éclairée et pertinente qu'on peut avoir de la dramaturgie).
</p>
<p>
Peut-être ce parcours autodidacte l'a-t-il rendu sensible plus qu'un autre aux difficultés inhérentes à l'écriture. Toujours est-il que c'est avec une bienveillance attentive et compréhensive qu'il vous observera au travail et qu'il tentera de vous accompagner dans ce périlleux périple qui conduit à l'accomplissement d'une histoire.
</p>
<p>
Il n'en restera pas moins <em>exigeant</em>. Car Phil fonde toujours de grands espoirs en ses icariennes ou ses icariens.
</p>

<h3><%= i += 1 %>. Le développement personnel</h3>

<p>
Disons-le tout net : <em>a contrario</em> d'autres formations, c'est votre personnalité artistique qui intéresse Phil, dans ce qu'elle a d'unique. C'est votre accomplissement en tant qu'auteur ou auteure. Car Phil a la conviction profonde que chaque individu porte en lui une part de créativité unique et digne d'intérêt (que cette part soit géniale, qu'elle permette d'espérer en vivre, est une autre affaire).
</p>
<p>
Mais comment atteindre son originalité en suivant un apprentissage clé-en-main ? Est-ce vraiment sur la base de “fiches type de savoir” qu'on parvient à développer son originalité propre, sa personnalité artistique propre, sa méthode personnelle&nbsp;? Phil ne l'a jamais pensé.
</p>
<p>
À l'atelier Icare, c'est votre personnalité qui sera prise en compte, c'est votre originalité qui sera prise en considération, et vous pourrez la développer de façon harmonieuse grâce à des outils originaux et uniques, et un suivi personnalisé à l'extrême, loin de toute fiche standard.
</p>
<p>
C'est ce qui fait, aussi, l'esprit unique de l'atelier Icare !
</p>

<h3><%= i += 1 %>. Une analyse approfondie de votre travail</h3>

<p>
Phil met un point d'honneur à émettre des retours comme vous n'en trouverez nulle part ailleurs. Alors que d'autres s'arrêteront à quelques lignes générales sur votre document, Phil s'efforce de faire le retour le plus précis possible, le plus argumenté possible, sans même rejeter les interrogations qu'il peut se faire lui-même sur la validité de ses propres commentaires.
</p>
<p>
À titre d'exemple, vous trouverez ci-dessous quelques extraits de retours, choisis presque au hasard dans les travaux. La nomenclature des couleurs est la suivante&nbsp;:
</p>
<ul>
<li>le texte en noir est celui de l'icarien ou de l'icarienne&nbsp;;</li>
<li><span style="color:blue;">les commentaires en bleu relèvent de la dramaturgie ou sont des commentaires généraux</span>&nbsp;;</li>
<li><span style="color:purple;">les commentaires en mauve sont des commentaires d'impression à la première lecture (ce que Phil appelle la lecture du “producteur impitoyable”)</span>&nbsp;;</li>
<li><span style="color:green;">les commentaires en vert concernent l'aspect rédactionnel du document</span>.</li>
</ul>
<p class='italic'>
Cliquez sur l'image pour l'ouvrir en taille normale dans une autre fenêtre.
</p>

<style type="text/css" media="screen">
div.exemple_travail div.legend {
  font-size:0.9em;
  font-style:italic;
  padding:2px 8px;
  width:430px;
  margin-top:60px;
  text-align: left;
}
div.exemple_travail div.legend.left {
  float:right;
  margin-right:5em;
}
div.exemple_travail div.legend.right {
  float:left;
  margin-left:5em;
}
div.exemple_travail div.vignette_extrait_travail.left {
  margin-left:5em;
}
div.exemple_travail div.vignette_extrait_travail.right {
  margin-left: 25em;
}
</style>
<%
largeur_max = 160
alignement  = "left"
{
  'extrait-module-scenario' => {
    width: 578, height: 629, legend: "<strong>Polymnie</strong>, module Scénario, extrait d'une séquence de scénario à écrire à partir d'un film."
  },
  'extrait-point-de-vue' => {
    width: 571, height: 566, legend: "<strong>Marc</strong>, Suivi de projet, extrait d'un document sur l'histoire racontée par un des personnages."
  },
  'extrait-synopsis-thematique'=> {
    width: 544, height: 554, legend: "<strong>Michel</strong>, module Thématique, extrait d'un synopsis construit sur une opposition thématique."
  },
  'extrait-module-structure' => {
    width: 592, height: 637, legend: "<strong>Matthimoth</strong>, module Structure, extrait d'une explicitation de la structure."
  },
  'extrait-module-personnage' => {
    width: 584, height: 600, legend: "<strong>Nicolas7564</strong>, module Personnage, extrait d'un travail sur l'évolution du protagoniste."
  },
  'extrait-module-methode' => {
    width: 582, height: 639, legend: "<strong>Vanina</strong>, module Méthode, extrait du document “Première impulsion de l'idée”."
  }

}.each do |img_affixe, img_data|

  img_src     = "./_view/img/atelier/presentation/#{img_affixe}.png"
  img_height  = (img_data[:height] * (largeur_max.to_f / img_data[:width]))
  img_style   = "width:#{largeur_max}px; height:#{img_height}px;border:1px solid;"

  alignement = alignement == 'left' ? 'right' : 'left'
%>
  <div class='exemple_travail'>
    <div class='legend <%= alignement %>'>
      <%= img_data[:legend] %>
    </div>
    <div class='vignette_extrait_travail <%= alignement %>'>
      <a href='<%= img_src %>' target='_new'>
        <img src="<%= img_src %>" title="<%= img_data[:legend] %>" style="<%= img_style %>" />
      </a>
    </div>
  </div>

<% end %>

<p>&nbsp;</p>

<h3><%= i += 1 %>. Pas de diplôme, pas de médaille</h3>

<p>
Disons-le tout net&nbsp;: exception faite de rares formations réputées (Fémis et CEEA pour ne pas les citer), aucun diplôme n'a jamais permis à un auteur de travailler. Les formations qui en délivrent ne délivrent que du vent. Ces diplômes de pacotille ne flattent que ceux qui y croient.
</p>
<p>
Les victoires dont vous pourrez vous targuer à l'atelier, ce seront vos histoires, vos projets développés, leur qualité et le plaisir de les voir réalisés ou publiés comme d'autres icariens avant vous (voir pour des exemples concrets les <%= link_overview(:reussites).downcase %>).
</p>

<h3><%= i += 1 %>. L'interactivité</h3>

<p>
L'atelier Icare s'efforce par tous les moyens de briser la solitude en offrant une interactivité maximale aussi bien avec Phil qu'entre les icariens et icariennes —&nbsp;qui restent pour la plupart très fidèles à l'atelier, certains ayant même entrepris un travail de coécriture avec Phil.
</p>
<p>
Des “portes de frigo” permettant de laisser des petits mots, tout est mis en place pour avoir toujours quelqu'un à qui parler en cas de difficulté ou pour partager ses émotions, quelles qu'elles soient.
</p>
<p>
À l'atelier Icare, ça n'est pas une interminable liste de noms anonymes qui peut vous convaincre de la vivacité du lieu. Ce sont de véritables personnes, de véritables auteurs ou apprentis-auteurs que vous pouvez contacter, où qu'ils vivent dans le monde.
</p>

<h3><%= i += 1 %>. Un atelier virtuel</h3>

<p>
On avance souvent les désavantages du virtuel (l'absence de contact physique), en passant sous silence ses avantages, pourtant nombreux.
</p>
<p>
Tout comme vous, Phil préfère de loin la chaleur du contact direct, mais le virtuel offre plus d'un avantage appréciable. Les échanges peuvent être tout aussi profonds et vivants pour peu qu'on utilise les outils de communication modernes mis à notre disposition, téléphone, mail, tchat ou vidéoconférence.
</p>
<p>
Ces modes de communication offrent une réactivité que n'offrent pas toujours les ateliers “en dur”. Ainsi, vous pouvez contacter Phil par mail 24 heures sur 24, 7 jours sur 7, et, sauf cas exceptionnels, vous recevez une réponse le jour même, au pire le lendemain.
</p>
<p>
L'atelier virtuel et les outils qu'ils proposent vous permettent également de travailler à votre rythme, quand bon vous semble. Au contraire d'un travail “en classe”, “en groupe”, vous bénéficiez également d'un vrai suivi personnalisé et adapté à vos besoins, tout autant qu'à vos envies.
</p>
<p>
Et bien sûr, l'un des avantages les plus appréciables demeure que vous pouvez suivre cette formation où que vous soyez dans le monde (à l'heure où sont écrites ces lignes, des icariens vivent au Liban, dans le sud de la France, à New-York ou encore en Égypte !) et à l'heure que vous décidez.
</p>

<h3>Conclusion</h3>

<p>
Nous espérons que ces points auront éclairci certaines interrogations et vous aurons montré les avantages que vous avez à <%= lien.signup('rejoindre l’atelier Icare') %>. En retour, Phil attend de vous la chose la plus essentielle dans cette collaboration&nbsp;: votre motivation !
</p>
<p>
Si néanmoins vous aviez encore des interrogations, n'hésitez pas à les soumettre à Phil en utilisant <%= lien.contact('le formulaire de contact') %>.
</p>
<p>
En espérant vous compter bientôt parmi les icariens ou les icariennes !
</p>

</div></div>

<%= Atelier::Overview.quicklinks_bottom %>
