<%
# Mail d'avertissement de niveau 1 lorsque l'échéance est
# dépassé
def jours_depassement
  (NOW - user.icetape.expected_end)/1.day
end
%>
<p><%= user.pseudo %>,</p>
<p>
  Un second avertissement pour vous informer que vous êtes en dépassement d'échéance de <%= jours_depassement %> jours concernant votre travail sur l'étape <%= icetape.abs_etape.numero %> de votre module <%= icmodule.abs_module.name %>.
</p>
<p>
  Merci de remettre sans plus tarder vos documents de travail ou de modifier votre échéance, par le biais de <%= lien.bureau('votre bureau') %>.
</p>
<p>Bien cordialement,</p>
<!-- AVERTISSEMENT ECHEANCE ETAPE 2 -->
