<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Pour Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if app.test? %>
      <% debug "On ne charge pas les polices, en mode test." %>
    <% else %>
      <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
    <% end %>
    <link rel="shortcut icon" href="_view/img/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="_view/img/favicon.ico?" type="image/x-icon">
    <base href="<%= site.base %>" />
    <link rel="stylesheet" href="_view/gabarit/header/header.css">
    <%= self.css %>
    <%= self.raw_css %>
    <!-- Page -->
    <title><%= page.title %></title>
  </head>
  <body>
    <% unless site.route?('') %>
      <!-- Entête permanent du site, sans modification -->
      <div id="header">
        <%= './_view/gabarit/top_row.erb'.deserb(self.bind) %>
      </div>
    <% end %>
    <!-- Tant que l'utilisateur n'est pas identifié, on lui présente
    le bouton d'enregistrement
    -->
    <% unless site.route?('') || user.identified? || site.route?('user/signin') || site.route?('user/signup') %>
      <div class="right">
        <%= 'poser&nbsp;sa&nbsp;candidature'.in_a(href: 'user/signup', id: 'btn_signup', class: 'btn main') %>
      </div>
    <% end %>

    <!-- Les message éventuels -->
    <div class="container">
      <%= app.div_flash %>
    </div>

    <div id="page-contents">
        <!--
            CONTENU DE LA PAGE
        -->
      <%= body %>

      <!-- Le débug, seulement en offline -->
      <%= page.section_debug %>

    </div>
    <!-- Pour le site -->
    <%= self.raw_javascript %>
    <%= self.javascript %>
  </body>
</html>
