<%= Signup.titre_h1(Signup.current_page_subtitle) %>
<p>
  <strong><%= new_user.pseudo %></strong>, votre candidature à l’atelier ICARE a bien été enregistrée. Une réponse vous sera envoyée sous quelques jours.
</p>

<p>
  N'oubliez pas de <strong>confirmer votre mail <span class="green"><%= new_user.mail %></span></strong> grâce au message qui vient de vous être transmis à cette adresse.
</p>

<p>
  En attendant, si ça n'est déjà fait, vous pouvez prendre connaissance du fonctionnement de l'atelier grâce l’<%= Link.to(:overview) %> ou grâce à l’<%= Link.to(:aide) %>.
</p>

<p>En espérant vous compter bientôt parmi nous,</p>

<p>Le Bot de l'atelier Icare</p>
