<%
# Contient les boutons "liste des modules", "réussites", etc.

def lien_reussites
  'RÉUSSITES'.in_a(href: 'overview/reussites', class: 'fond')
end
def lien_temoignages
  'TÉMOIGNAGES'.in_a(href: 'overview/temoignages', class: 'fond')
end
def liens_icariens
  'ICARIEN(NE)S'.in_a(href: 'icarien/list', class: 'fond')
end
def liens_modules_proposes
  'MODULES PROPOSÉS'.in_a(href: 'abs_module/list', class: 'btn btn-primary')
end
%>
<div id="main-buttons"

  <div id="main-overview-liens" class="row">
    <div id="" class="fleft center">
      <%= lien_reussites %>
    </div>
    <div id="" class="fright center">
      <%= liens_icariens %>
    </div>
    <div id="" class="col center">
      <%= lien_temoignages %>
    </div>
  </div>

  <%= space %>

  <div class="center">
    <%= liens_modules_proposes %>
  </div>

</div>
