<%
=begin

  HOME PAGE DU SITE

  Depuis la version 2019, la page d'accueil est totalement différente
  des autres pages du site, pour correspondre à l'esthétisme actuel, très
  aéré

  La construction de la page se fait dans :
  ./_objet/site/home/build.rb
=end

site.require_all_in('./_objet/site/home')

%>
<section id="header_home">
  <div class="common-tools">
    <% if User.current? %>
      <a href="bureau/home">VOTRE BUREAU</a>
      <a href="user/profil">VOTRE PROFIL</a>
      <a href="user/logout">SE DÉCONNECTER</a>
    <% else %>
      <a href="overview">EN SAVOIR PLUS</a>
      <a href="signup">S’INSCRIRE</a>
      <a href="user/login">S’IDENTIFIER</a>
    <% end %>
  </div>
</section>

<section id="main-logo-in-first-page" class="big-in-cadre">
  <%= Dom.image('papillon-base-logo.png', id: 'papillon') %>
  <span id="titre_site">Atelier Icare</span>
  <div class="small">L’écriture dans tous ses états (*)</div>
</section>
<div class="mini">(*) aussi bien dans la forme (roman, scénario, BD, etc.) que dans le fond (pitch, résumé, synopsis, scénario, etc.).
</div>
<hr class="big">

<div class="cadre in-cadre">
  <%= './_objet/site/home/pieces/atelier.erb'.deserb %>
  <%= './_objet/site/home/pieces/phil.erb'.deserb %>
</div>

<div class="in-cadre">
  <%= './_objet/site/home/pieces/boutons.erb'.deserb %>
</div>

<%= './_objet/site/home/pieces/citation.erb'.deserb %>

<div class="flex2">
  <div class="w-300">
    <%= FaqAtelier.frequently_asked_questions %>
  </div>
  <div class="w-300">
    <%= LastActivities.bloc_last %>
  </div>
</div>
<script type="text/javascript">
</script>
