<%= Icarien.titre_h1 %>

<h3>Icariennes et icariens en activité</h3>
<%= liste_icariens :actifs  %>

<h3>Anciennes icariennes et anciens icariens</h3>
<%= liste_icariens :inactifs  %>

<h3>Icariennes et icariens en attente</h3>
<%= liste_icariens :en_attente  %>

<h3>Administrateurs</h3>
<%= liste_icariens :admin  %>
